@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.wrap {
  background-color: #dbdbdb;
}
.logo {
  position: relative;
  display: block;
  width: 216px;
  height: 66px;
  text-align: center;
  font-size: 38px;
  line-height: 38px;
  margin: 0 auto;
  padding-top: 5px;
  font-family: Lotteriachab;
  color: #949ce4;
}

.logo:hover {
  color: #757575;
}

.main {
  width: 1600px;
  height: 870px;
  margin: 30px auto;
}

.tabmenu {
  position: relative;
  display: flex;
  width: 1600px;
  height: 80px;
  /* justify-content: space-between; */
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}
.tabmenu li {
  display: flex;
  width: 300px;
  height: 80px;
  align-items: center;
  margin: 10px 0;
  text-align: center;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.tabmenu li a {
  display: flex; /* Flexbox 사용으로 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  color: #333; /* 링크의 텍스트 색상 */
  padding: 10px 20px; /* 링크에 패딩 추가 */
  width: 100%; /* <a> 요소의 너비를 <li> 요소에 맞추기 */
  height: 100%; /* <a> 요소의 높이를 <li> 요소에 맞추기 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 및 높이 계산 */
  font-size: 26px;
}

.about,
#about {
  background-color: #d1d4f3;
}

.content1,
#content1 {
  background-color: #c3d8ec;
}

.content2,
#content2 {
  background-color: #b1c3ef;
}

.content3,
#content3 {
  background-color: #d8cff0;
}

.content4,
#content4 {
  background-color: #ebcee9;
}

.content5,
#content5 {
  background-color: #facfd7;
}

.bodywrap {
  width: 100%;
  /* margin: 30px auto;  */
}
.bodywrap section {
  display: none;
}

.bodywrap section.active {
  display: block;
}

.bodywrap .about {
  height: 800px;
}

.box {
  width: 1540px;
  height: 734px;
  margin: 0 auto;
}

.box > ul {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.submenu > li {
  display: flex;
  width: 192.5px;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  border-top: 6px solid #000;
  border-bottom: 6px solid #000;
  cursor: pointer; /* 클릭 가능한 커서 */
  transition: background-color 0.3s ease; /* 배경색 전환 애니메이션 */
}

.submenu > li:hover {
  background-color: #fff;
}

.submenu > li:clicked {
  background-color: white; /* 클릭 시 배경색 */
  color: black; /* 클릭 시 텍스트 색상 */
}

.submenu > li > a {
  display: flex; /* Flexbox 사용으로 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  color: #333; /* 링크의 텍스트 색상 */
  padding: 10px 20px; /* 링크에 패딩 추가 */
  width: 100%; /* <a> 요소의 너비를 <li> 요소에 맞추기 */
  height: 100%; /* <a> 요소의 높이를 <li> 요소에 맞추기 */
  font-size: 24px;
}
.videobox {
  display: flex;
  width: 100%;
  height: 644px;
}

.video-item {
  position: absolute; /* 요소를 문서 흐름에서 제거합니다 */
  visibility: hidden; /* 요소를 보이지 않게 합니다 */
  width: 100%; /* 요소의 너비를 설정합니다 (필요에 따라 조정) */
  height: auto; /* 요소의 높이를 자동으로 설정합니다 */
  display: block; /* 요소를 블록 레벨로 설정합니다 (기본값으로 변경) */
}

.video-item.active {
  position: relative; /* 활성화된 요소는 문서 흐름에 영향을 미칩니다 */
  visibility: visible; /* 활성화된 요소는 보이게 합니다 */
  display: flex; /* Flexbox를 사용하여 자식 요소를 가로로 나란히 배치합니다 */
  align-items: center; /* 수직 정렬 */
  justify-content: center;
}

.description {
  position: relative;
  width: 572px;
  height: 100%;
}
.description div {
  width: 100%;
  height: 33.33%;
  padding: 20px 20px;
  font-size: 22px;
}

.videowrap {
  width: 968px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 874px;
  height: 516px;
  margin: 40px;
  background-color: #333;
}

.abbox {
  display: flex;
  width: 100%;
  height: 734px;
  /* margin: 30px; */
}

.picture {
  width: 574px;
  height: 100%;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}

.picture img {
  width: 507px;
  height: 680px;
  padding: 20px;
}

.aboutme {
  width: 1020px;
  height: 100%;
  padding: 30px;
}

.aboutme > div {
  width: 950px;
  height: 50%;
  padding: 20px;
  padding: 50px;
}

.aboutme > div h3 {
  padding: 10px;
  text-align: center;
  font-size: 33px;
}

.aboutme > div p {
  padding: 10px;
  font-size: 22px;
}

.profilebox {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  width: 1560px;
  height: 734px;
  /* margin: 30px; */
}

.profile {
  display: flex;
  width: 1560px;
  height: 734px;
  padding: 30px;
}

.prowrap {
  width: 50%;
  height: 100%;
}

.prowrap > div {
  width: 780px;
  height: 50%;
  padding: 20px 20px;
}
.profile > div h3 {
  padding: 10px;
  text-align: center;
  font-size: 33px;
}

.profile > div p {
  padding: 10px;
  font-size: 22px;
}
