@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Noto Sans KR;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.wrap {
  background-color: #c2c2c2;
}
.logo {
  position: relative;
  display: block;
  width: 216px;
  height: 100px;
  text-align: center;
  font-size: 38px;
  line-height: 38px;
  margin: 0px auto;
  padding-top: 20px;
  font-family: Lotteriachab;
  color: #949ce4;
  transition: text-shadow 0.2s ease; /* 부드러운 효과를 위한 전환 */
}

.logo:hover {
  color: #12285c;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4); /* 글로우 효과 */
}

.main {
  width: 1600px;
  height: 870px;
  margin: 30px auto;
}

.tabmenu {
  position: relative;
  display: flex;
  width: 1600px;
  height: 65px;
  /* justify-content: space-between; */
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}
.tabmenu li {
  display: flex;
  width: 300px;
  height: 65px;
  align-items: center;
  margin: 10px 0;
  text-align: center;
  clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
}

.tabmenu li a {
  display: flex; /* Flexbox 사용으로 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  color: #333; /* 링크의 텍스트 색상 */
  padding: 10px 20px; /* 링크에 패딩 추가 */
  width: 100%; /* <a> 요소의 너비를 <li> 요소에 맞추기 */
  height: 100%; /* <a> 요소의 높이를 <li> 요소에 맞추기 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 및 높이 계산 */
  font-size: 22px;
  font-weight: bold;
}

.tabmenu li:hover {
  transform: translateY(-5px); /* 위로 5픽셀 이동 */
  height: 115%;
}

.about,
#about {
  background-color: #d1d4f3;
}

.content1,
#content1 {
  background-color: #c3d8ec;
}

.content2,
#content2 {
  background-color: #b1c3ef;
}

.content3,
#content3 {
  background-color: #d8cff0;
}

.content4,
#content4 {
  background-color: #ebcee9;
}

.content5,
#content5 {
  background-color: #facfd7;
}

.bodywrap {
  width: 100%;
  /* margin: 30px auto;  */
}
.bodywrap section {
  display: none;
}

.bodywrap section.active {
  display: block;
}

.bodywrap .about {
  height: 800px;
}

.box {
  width: 1540px;
  height: 734px;
  margin: 0 auto;
}

.box > ul {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
}

.submenu > li {
  display: flex;
  width: 192.5px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  cursor: pointer; /* 클릭 가능한 커서 */
  transition: background-color 0.3s ease; /* 배경색 전환 애니메이션 */
}

.submenu > li:first-child {
  border-left: 3px solid #000; /* 첫 번째 메뉴 항목에 왼쪽 보더라인 추가 */
  border-radius: 15px 0 0 15px;
}

.submenu > li:last-child {
  border-radius: 0 15px 15px 0px;
}

.submenu li a.active {
  background-color: white; /* 활성화된 서브메뉴 항목의 배경색 */
  color: black; /* 텍스트 색상도 적절히 조정할 수 있습니다 */
}

.submenu li:hover {
  background-color: #fff;
}

.submenu > li:first-child a {
  border-radius: 15px 0 0 15px;
}

.submenu > li:last-child a {
  border-radius: 0 15px 15px 0px;
}

.submenu > li > a {
  display: flex; /* Flexbox 사용으로 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  color: #333; /* 링크의 텍스트 색상 */
  padding: 10px 20px; /* 링크에 패딩 추가 */
  width: 100%; /* <a> 요소의 너비를 <li> 요소에 맞추기 */
  height: 100%; /* <a> 요소의 높이를 <li> 요소에 맞추기 */
  font-size: 20px;
  font-weight: 600;
}
.videobox {
  display: flex;
  width: 100%;
  height: 600px;
  gap: 30px;
}

.video-item {
  display: none; /* 기본적으로 비디오를 숨깁니다 */
  position: absolute; /* 요소를 문서 흐름에서 제거합니다 */
  top: 30px;
  visibility: hidden; /* 요소를 보이지 않게 합니다 */
  width: 100%; /* 요소의 너비를 설정합니다 (필요에 따라 조정) */
  height: auto; /* 요소의 높이를 자동으로 설정합니다 */
  /* 요소를 블록 레벨로 설정합니다 (기본값으로 변경) */
}

.video-item.active {
  display: block;
  position: relative; /* 활성화된 요소는 문서 흐름에 영향을 미칩니다 */
  visibility: visible; /* 활성화된 요소는 보이게 합니다 */
  display: flex; /* Flexbox를 사용하여 자식 요소를 가로로 나란히 배치합니다 */
  align-items: center; /* 수직 정렬 */
  justify-content: center;
}

.description {
  position: relative;
  width: 572px;
  height: 100%;
  display: flex;
  flex-direction: column; /* prowrap 안의 요소들을 세로로 나열 */
  gap: 15px; /* prowrap 내부 요소들 사이의 간격 */
  margin-right: 20px;
}
.description div {
  width: 100%;
  height: 33.3%;
  padding: 20px 20px;
  font-size: 18px;
  border: 3px solid #333;
  border-radius: 30px;
}

.videowrap {
  width: 968px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #333;
  border-radius: 30px;
}

.video {
  position: relative;
  width: 874px;
  height: 516px;
  margin: 40px;
  background-color: #f5f5f5;
}

.abbox {
  display: flex;
  width: 100%;
  height: 734px;
}

.picture {
  width: 574px;
  height: 100%;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}

.picture img {
  width: 507px;
  height: 680px;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 30px;
}

.aboutme {
  width: 1020px;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column; /* 세로 방향으로 나열 */
  gap: 20px; /* 자식 요소들 사이에 20픽셀 간격 추가 */
}

.aboutme > div {
  width: 950px;
  height: 330px;
  padding: 20px;
  border: 3px solid #333;
  border-radius: 30px;
}

.aboutme > div h3 {
  padding: 10px;
  text-align: center;
  font-size: 28px;
}

.aboutme > div p {
  padding: 10px;
  font-size: 20px;
  margin-left: 20px;
}

.profilebox {
  width: 1600px;
  justify-content: center;
  align-items: center;
  height: 734px;
}

.profile {
  display: flex;
  width: 1600px;
  height: 734px;
  padding: 30px;
  margin-left: 5px;
  gap: 15px;
}

.prowrap {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column; /* prowrap 안의 요소들을 세로로 나열 */
  gap: 20px; /* prowrap 내부 요소들 사이의 간격 */
}

.prowrap > div {
  width: 760px;
  height: 50%;
  padding: 20px;
  /* background-color: #dbdbdb; */
  border: 3px solid #333;
  border-radius: 30px;
}
.profile > div h3 {
  /* padding: 10px; */
  text-align: center;
  font-size: 28px;
}

.profile > div p {
  padding: 20px;
  font-size: 20px;
}
